<load target="nav.scss" vars="RxFlextagramTheme::$variables" />

{@
    $is_notifications = $tab == 'notifications';
    $is_mypage = $act == 'dispMemberInfo';
    $is_custom_page = $is_notifications && is_mypage && is_menu;
}

<nav class="app-header-nav" cond="!$global_menu->list && \Rhymix\Framework\Session::isAdmin()">
    <ul>
        <li><a href="{getUrl('','module','admin','act','dispLayoutAdminModify','layout_srl',$layout_info->layout_srl)}" target="_blank">메뉴가 지정되지 않음. 레이아웃 설정 바로가기</a></li>
    </ul>
</nav>

<nav class="app-header-nav" cond="$global_menu && $global_menu->list">
    <ul>
        <!-- prettier-ignore -->
        <block loop="$global_menu->list=>$key1,$val1">
            {@
                $is_selected = $val1['selected'] && !$is_custom_page
            }
            <li class="active"|cond="$is_selected" is-divider|cond="$val1['link'] == '/'" cond="strpos('여까', $val1['link'], 0) === FALSE">
                <!-- prettier-ignore -->
                <a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'" class="app-header-nav-icon app-tooltip"|cond="$val1['icon']" title="{strip_tags($val1['link'])}"|cond="$val1['icon']">
                    <ion-icon cond="$val1['icon'] && $is_selected" name="{$val1['icon']}" aria-label="{$val1['link']}"></ion-icon>
                    <ion-icon cond="$val1['icon'] && !$is_selected" name="{$val1['icon']}-outline" aria-label="{$val1['link']}"></ion-icon>
    
                    <span cond="!$val1['icon']">{$val1['link']}</span>
                    <ion-icon cond="$val1['list']" name="chevron-down-outline" class="app-header-nav-more" aria-hidden="true"></ion-icon>
                </a>
    
                <ul cond="$val1['list']" class="app-header-nav-child">
                    <!-- prettier-ignore -->
                    <li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']" is-divider|cond="$val2['link'] == '/'">
                        <!-- prettier-ignore -->
                        <a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">
                            <ion-icon cond="$val2['icon'] && $is_selected" name="{$val2['icon']}" aria-label="{$val2['link']}"></ion-icon>
                            <ion-icon cond="$val2['icon'] && !$is_selected" name="{$val2['icon']}-outline" aria-label="{$val2['link']}"></ion-icon>
                            <span>{$val2['link']}</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="active"|cond="$is_selected" is-divider|cond="$val1['link'] == '/'" cond="strpos('여까', $val1['link'], 0) !== FALSE">
                <load target="{$val1['href']}" />
                <!-- prettier-ignore -->
                <a href="http://yeokka.com/" target="_blank"|cond="$val1['open_window']=='Y'" class="app-header-nav-icon app-tooltip" title="{strip_tags($val1['link'])}">
                    <span id="broadcast-on"><ion-icon name="notifications" aria-label="알림 목록"></ion-icon></span>
                    <span id="broadcast-off"><ion-icon name="videocam-outline" aria-label="알림 목록"></ion-icon></span>
                </a>
            </li>
        </block>
        
        <li cond="$layoutConfig['header_search'] === 'Y'">
            <a onclick="toggleDialog('app-search-form')">
                <ion-icon name="search-outline" aria-label="{$lang->search}"></ion-icon>
            </a>
        </li>

        {@
            if($logged_info) $noti_count = getModel('ncenterlite')->_getNewCount($logged_info->member_srl);
            else $noti_count = 0;

            if($noti_count>99) $noti_count = "99+";
        }

        <li cond="$layoutConfig['use_ncenter_widget'] == 'Y' && $logged_info">
            <a href="{getUrl('', 'mid', $mid, 'act','dispNcenterliteNotifyList')}" class="app-header-nav-icon app-tooltip" title="알림 목록">
                <span id="noti-yes" style="display:none"|cond="!$noti_count"><ion-icon name="notifications" aria-label="알림 목록"></ion-icon></span>
                <span id="noti-no" style="display:none"|cond="$noti_count"><ion-icon name="notifications-outline" aria-label="알림 목록"></ion-icon></span>
                <span class="noti-badge" onclick="exec_xml('ncenterlite', 'procNcenterliteNotifyReadAll'); this.remove(); document.getElementById('noti-yes').style.display = 'none'; document.getElementById('noti-no').style.display = 'block'; return false;" cond="$noti_count">{$noti_count}</span>
            </a>
        </li>

        <include target="../sidebar/sidebar-toggle.html" />
    </ul>
</nav>
